extends templates/layout

block content
    main
        a(href="https://www.google.com") Google
        a(href="www.google.com") Google
        a(href="www.google.com") Google
        a(href="www.google.com") Google
        a(href="www.google.com") Google
