$minIphone: 375px;
$maxIphone: 667px;
$minIpad: $maxIphone + 1;
$maxIpad: 1112px;

@mixin responsive($device) {
  @if $device == "iphone" {
    @media only screen and (min-width: $minIphone) and (max-width: $maxIphone) and (orientation: portrait) {
      @content;
    }
  } @else if $device == "iphone-l" {
    @media only screen and (min-width: $minIphone) and (max-width: $maxIpad) and (orientation: landscape) {
      @content;
    }
  } @else if device == "ipad" {
    @media only screen and (min-width: $minIpad) and (max-width: $maxIpad) and (orientation: portrait) {
      @content;
    }
  } @else if device == "ipad-l" {
    @media only screen and (min-width: $minIpad) and (max-width: $maxIpad) and (orientation: landscape) {
      @content;
    }
  }
}
